  
        p {
            font-family: Roboto;
            margin-top: 0;
            margin-bottom: 0;
        }

        .video-title {
            /* font-family: Arial; */
            font-weight: bold;
            font-size: 18px;
            width: 280px;
            line-height: 24px;
            margin-bottom: 5px;
        }

        .vide0-stats {
            /* font-family: Arial; */
            font-size: 14px;
            color: rgb(96, 96, 96);
            /* margin-top: 0; */
            margin-bottom: 20px;
        }

        .video-autho {
            /* font-family: Arial; */
            font-size: 14px;
            color: rgb(96, 96, 96);
            /* margin-top: 0; */
            margin-bottom: 20px;
        }

        .video-description {
            /* font-family: Arial; */
            font-size: 14px;
            color: rbg(96, 96, 96);
            width: 280px;
            line-height: 22px;
            margin-bottom: 100px;
            /* margin-top: 0; */
        }

        .apple-text {
            margin-bottom: 50px;
            color: white;
            font-size: 14px;
            background-color: rgb(227, 65, 64);
            text-align: center;
            padding-top: 18px;
            padding-bottom: 18px;
            /* text-decoration: underline; */
        }

        .shop-link {

            cursor: pointer;
        }

        .shop-link:hover {
            text-decoration: underline;
        }